<mat-toolbar color="primary-dark" class="navbar">
  <mat-toolbar-row>
      <span class="title font-slabo">Campus Ambassadors' Admin Portal</span>
      <span class="spacer"></span>
      <div class="button-row nav-desktop">
        <a mat-button routerLink="/Admax/users">
          <mat-icon class="nav-icon">face</mat-icon>
          Users
        </a>
        <a mat-button routerLink="/Admax/posts">
          <mat-icon class="nav-icon">share</mat-icon>
            Posts
        </a>
        <a mat-button routerLink="/Admax/tasks">
          <mat-icon class="nav-icon">assignment</mat-icon>
          Tasks
        </a>
      </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="nav-back no-margin no-padding">
</div>
