<app-navbar></app-navbar>
<div class="bg-primary-dark font-ubuntu font-30 padding-20">Contacts</div>
<div class="bg-primary padding-30 height-100">
  <div class="font-20 font-ubuntu">
    The guidelines to use this portal are provided in the `Guidelines` section,
    for any Queries or Suggestions, Contact us below!<br><br>
    <hr>
  </div>
  <div class="mat-elevation-z3 padding-30 margin-bottom-15">
    <div class="font-30 font-ubuntu text-accent">Pathik Chamaria</div>
    <div class="font-15">Manager Events</div>
    <div class="font-15">pathik@iitk.ac.in <br fxHide.gt-xs="true"> +91 7259 734 114</div>
    <hr>
  </div>
  <div class="mat-elevation-z3 padding-30 margin-bottom-15">
    <div class="font-30 font-ubuntu text-accent">Tanmay Yadav</div>
    <div class="font-15">Manager Events</div>
    <div class="font-15">tanmayy@iitk.ac.in <br fxHide.gt-xs="true"> +91 9149 338 300</div>
    <hr>
  </div>
  <div class="mat-elevation-z3 padding-30 margin-bottom-15">
    <div class="font-30 font-ubuntu text-accent">Saksham Mittal</div>
    <div class="font-15">Overall Coordinator</div>
    <div class="font-15">mittals@iitk.ac.in <br fxHide.gt-xs="true">+91 8218 571 770</div>
    <hr>
  </div>
</div>
<app-footer></app-footer>
