/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    margin: 0 0 0 0;
    background-color: #616161;
}
.bg-primary{
    background-color: #424242;
    color: aliceblue;
}
.bg-primary-light{
    background-color: #616161;
    color: white;
}
.bg-primary-dark{
    background-color: #212121;
    color: whitesmoke;
}
.bg-accent{
    background-color: #FF8F00;
    color: #424242;
}
.bg-accent-light{
    background-color: #FFA000;
    color: #212121; 
}
.bg-accent-dark{
    background-color: #FF6F00;
    color: #616161;
}
.text-accent{
    color: #FF8F00;
}
.text-accent-dark{
    color: #FF6F00;
}
.text-accent-light{
    color: #FFA000;
}



.no-margin{
    margin: 0 0 0 0;
}
.margin-top-15{
    margin-top: 15px;
}
.margin-top-30{
    margin-top: 30px; 
}
.margin-bottom-30{
    margin-bottom: 30px; 
}
.margin-15{
    margin: 15px 15px 15px 15px;
}
.no-padding{
    padding: 0 0 0 0;
}
.no-padding-i{
    padding: 0 0 0 0 !important;
}
.padding-10{
    padding: 10px 10px 10px 10px;
}
.padding-20{
    padding: 20px 20px 20px 20px;
}
.padding-30{
    padding: 30px 30px 30px 30px;
}
.font-slabo{
    font-family: 'Slabo 27px', serif;
}
.font-lato{
    font-family: 'Lato', sans-serif;
}
.text-center{
    text-align: center;
}
.align-center{
    align-content: center;
    align-items: center;
}
.vertical-middle{
    vertical-align: middle;
}
.font-10{
    font-size: 10px;
}
.font-15{
    font-size: 15px;
}
.font-20{
    font-size: 20px;
}
.font-25{
    font-size: 25px;
}
.font-30{
    font-size: 30px;
}
.font-50{
    font-size: 50px;
}
.font-70{
    font-size: 70px;
}
.font-90{
    font-size: 90px;
}
.max-height-60{
    max-height: 100vh;
}
.display-flex{
    display: flex;
}
.border-accent{
    border-style: solid;
    border-width: 2px;
    border-color: #FF8F00;
}
.border-bottom-accent{
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-color: #FF8F00;
}
.border-primary{
    border-style: solid;
    border-width: 1px;
    border-color: #212121;
}
.border-bottom-primary{
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-color: #212121;
}

.height-100{
    min-height: 100vh;
}