<app-navbar></app-navbar>
<!-- <div class="bg-primary no-margin padding-30">
  <h2 class="no-margin font-lato">Share the below posts on facebook and get points!</h2>
</div> -->
<!-- <button id="sharebutton" (click)="share()" ></button> -->
<div fxLayout="row" fxLayoutAlign="space-between" fxLayout.xs="column" class="bg-primary-light">
  <div fxFlex="30%" class="border-accent-right font-30 padding-30 font-lato bg-primary-dark display-flex align-center text-accent max-height-60 text-center"><div>Share these posts on Facebook at different places and earn points<span class="font-20"><br>Hurry, before they disappear!</span></div></div>
  <div fxLayout="row wrap" class="padding-30" fxLayoutGap="30px" fxLayoutAlign="end" fxLayout.xs="column" fxFlex="70%">
    <div fxFlex="0 1 calc(44%)" *ngFor="let item of [1, 2, 3, 4, 5, 6]">
        <mat-card color="primary-dark" class="example-card margin-top-30 border-accent">
            
            <img mat-card-image src="https://images.pexels.com/photos/248797/pexels-photo-248797.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <mat-chip-list>
                  <button mat-button>Share</button>
                  <button mat-button>View</button>
                  <mat-chip color="accent" selected>2 / 10</mat-chip>
              </mat-chip-list>
            </mat-card-actions>
          </mat-card>
    </div>  
  </div>
</div>
<app-footer></app-footer>