<app-navbar></app-navbar>
<div class="bg-primary-dark font-lato font-30 padding-20">Dashboard</div>
<div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="15px" fxLayout.xs="column" class="bg-primary-light height-100">
  <div fxFlex="50%" class="margin-15">
    <mat-card class="margin-top-15 mat-elevation-z5 border-bottom-primary">
        <mat-card-title>Leaderboard</mat-card-title>
        <mat-card-subtitle>Congrats you are on the top 10 among all Campus Ambassadors : )</mat-card-subtitle>
        <mat-list>
            <mat-list-item *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">Item 1 
            <mat-divider></mat-divider></mat-list-item>
        </mat-list>
        <br>
    </mat-card>
  </div>
  <div fxLayout="row wrap" class="margin-top-15 margin-bottom-30" fxLayoutAlign="start" fxLayout.xs="column" fxFlex="50%">

      <mat-card fxFlex="0 1 calc(50% - 30px)" class="margin-15 text-center mat-elevation-z5 border-bottom-accent">
        <mat-card-title>Referal Code</mat-card-title>
        <mat-card-subtitle>Use this code to get discounts</mat-card-subtitle>
        <div  class="font-50 no-margin no-padding text-accent-light border-accent round mat-elevation-z3"><div class="round-content-15" >EWPD92MBTEY</div></div>
      </mat-card>

      <mat-card fxFlex="0 1 calc(50% - 30px)" class="margin-15 text-center mat-elevation-z5 border-bottom-accent">
        <mat-card-title>Total Points</mat-card-title>
        <mat-card-subtitle>Total number of points you earned</mat-card-subtitle>
        <div class="font-50 no-margin no-padding text-accent-light border-accent round mat-elevation-z3"><div class="round-content-30">180</div></div>
      </mat-card>

      <mat-card fxFlex="0 1 calc(50% - 30px)" class="margin-15 text-center mat-elevation-z5 border-bottom-accent">
        <mat-card-title>Rank</mat-card-title>
        <mat-card-subtitle>Your rank among all the Campus Ambassadors</mat-card-subtitle>
        <div class="font-50 no-margin no-padding text-accent-light border-accent round mat-elevation-z3"><div class="round-content-30">09</div></div>
      </mat-card>

      <mat-card fxFlex="0 1 calc(50% - 30px)" class="margin-15 text-center mat-elevation-z5 border-bottom-accent">
        <mat-card-title>Posts shared</mat-card-title>
        <mat-card-subtitle>Total no. of posts shared so far</mat-card-subtitle>
        <div class="font-50 no-margin no-padding text-accent-light border-accent round mat-elevation-z3"><div class="round-content-30">56</div></div>
      </mat-card>
  </div>
</div>
<app-footer></app-footer>