<mat-toolbar color="primary-dark" class="navbar">
<mat-toolbar-row>
    <span class="logo"><img src="../../../assets/logo.png"></span>
    <span class="title font-slabo"></span>
    <span class="spacer"></span>
    <div class="button-row nav-desktop">
      <a mat-button routerLink="/Dashboard">
        <mat-icon class="nav-icon">dashboard</mat-icon>
        Dashboard
      </a>
      <a mat-button [matBadge]="totalPosts > 0 ? totalPosts : ''" matBadgeSize = 'small' matBadgePosition="after" matBadgeColor="accent" routerLink="/Posts">
        <mat-icon class="nav-icon">share</mat-icon>
        FB Posts
      </a>
      <a mat-button [matBadge]="totalTasks > 0 ? totalTasks : ''" matBadgeSize = 'small' matBadgePosition="after" matBadgeColor="accent" routerLink="/Tasks">
        <mat-icon class="nav-icon">assignment</mat-icon>
        Tasks
      </a>
      <a mat-button routerLink="/Guidelines">
        <mat-icon class="nav-icon">info</mat-icon>
        Guidelines
      </a>
      <a mat-button routerLink="/Contacts">
        <mat-icon class="nav-icon">contact_support</mat-icon>
        Contacts
      </a>
      <a mat-button (click)="logout();">
          <mat-icon class="nav-icon">exit_to_app</mat-icon>
          Log out
      </a>
    </div>
    <div class="nav-mobile">
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu class="mat-elevation-z10" #menu="matMenu">
            <a mat-button met-menu-item routerLink="/Dashboard" class="color-white">
                <mat-icon class="nav-icon">dashboard</mat-icon>
                Dashboard
              </a>
              <br>
              <a [matBadge]="totalPosts > 0 ? totalPosts : ''" matBadgeSize = 'small' matBadgePosition="after" matBadgeColor="accent" mat-button met-menu-item routerLink="/Posts" class="color-white">
                <mat-icon class="nav-icon">share</mat-icon>
                FB Posts
              </a>
              <br>
              <a [matBadge]="totalTasks > 0 ? totalTasks : ''" matBadgeSize = 'small' matBadgePosition="after" matBadgeColor="accent" mat-button met-menu-item routerLink="/Tasks" class="color-white">
                <mat-icon class="nav-icon">assignment</mat-icon>
                Tasks
              </a>
              <br>
              <a mat-button met-menu-item routerLink="/Guidelines" class="color-white">
                <mat-icon class="nav-icon">info</mat-icon>
                Guidelines
              </a>
              <br>
              <a mat-button met-menu-item routerLink="/Contacts" class="color-white">
                <mat-icon class="nav-icon">contact_support</mat-icon>
                Contacts
              </a>
              <br>
              <a mat-button met-menu-item (click)="logout();" class="color-white">
                  <mat-icon class="nav-icon">exit_to_app</mat-icon>
                  Log out
              </a>
              <br>
        </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="nav-back bg-primary no-margin no-padding mat-menu-panel">
</div>
