
<div>
    <app-adminnavbar></app-adminnavbar>
</div>

<!--  content-->


<!-- Task Form -->    
  <div fxLayout="row" fxLayoutAlign="space-between" fxLayout.xs="column" class="bg-primary-light margin-content">
    <div fxFlex="30%" class="border-accent-right font-30 padding-30 font-lato bg-primary-dark display-flex align-center text-accent max-height-60 text-center right-pad"><div>
      <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Name" [formControl]="NameFormControl" [(ngModel)]="name" required/>
           <mat-error *ngIf="NameFormControl.hasError('required')">
             <strong >required</strong>
           </mat-error>
      </mat-form-field>
      
                
      <mat-form-field>
        <textarea matInput placeholder="Description"  [formControl]="DesFormControl" [(ngModel)]="description" required cols="8" rows="12">
          </textarea>
          <mat-error *ngIf="DesFormControl.hasError('required')">
            <strong>required</strong>
          </mat-error>
      </mat-form-field>
      
              
      <mat-form-field>
        <input matInput placeholder="Points" type="number" [formControl]="PointFormControl" [(ngModel)]="points" required />
          <mat-error *ngIf="PointFormControl.hasError('required')">
            <strong>required</strong>
          </mat-error>
      </mat-form-field>
      
              
      <mat-form-field>
        <input
          matInput
          [matDatepicker]="picker3"
          placeholder="Expiration Date(month/day/year) "
          [value]="post_time.value"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker3"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
      </mat-form-field>
      
                        
      <button mat-raised-button color="accent" (click)="submit()" class="button">
        Submit
      </button>
      </div>
    </div>
  </div>

<!-- TasksList -->

  <div fxLayout="row wrap" class="padding-30 margin-content" fxLayoutGap="30px" fxLayoutAlign="end" fxLayout.xs="column" fxFlex="70%">
    <div fxFlex="0 1 calc(44%)" *ngFor="let task of [1,2,3,4,5,6,7,8]">
      <mat-card color="primary-dark" class="example-card margin-top-30 border-accent">
        <mat-card-header>                     
          <mat-card-title>Sell 10 Tickets</mat-card-title>                   
        </mat-card-header>
        <mat-card-content>
          <p>
            You get 100 points on sale of your first 10 tickets.Contact your friends and relatives.Hurry,before they disappear!
         </p>
        </mat-card-content>
               
        <mat-card-subtitle>
            Point : 100
        </mat-card-subtitle>  
        <mat-card-subtitle>
            Expiry Time : 6/2/2019
        </mat-card-subtitle>            
      </mat-card>
     </div>  
  </div>


</div>
  <div class="down">
    <app-footer></app-footer>
  </div>