.down
{
  width : 100%;
  bottom : 0;
  right : 0;
}

.button {
  margin-right : 0px;
}

.width-70{
    max-width: 60%;
}
.border-accent-right{
    border-right-style: solid;
    border-right-width: 4px;
    border-color:  #FF6F00;
}

.margin-content{
    margin-top:40px;
    min-height: 900px;
}

.example-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width:400px;
}

.example-container > * {
  width: 100%;
}
