<div class="bg-primary-dark font-lato font-25 padding-20">
  <div class="text-center font-slabo">© Entrepreneurship Cell <br fxHide.gt-xs="true">IIT Kanpur</div>
    <div class="text-center text-accent-light font-15">
      <a class="text-accent-light" href="https://www.ecelliitk.org/" target="_blank">Homepage   |</a>
      <a class="text-accent-light" href="https://www.ecelliitk.org/#contact" target="_blank">   List of Core team members  </a>
    </div>
  <div class="text-center font-15">- Ideate Innovate Incubate -</div>
</div>
