<div fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayout.xs="column">
  <div fxFlex="30%" fxFlex.sm="40%" class="bg-primary-dark height-100 mat-elevation-z24">
      <div class="text-center">
          <div>
          <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"  >
              <path d="M0.00,49.83 C150.00,149.53 271.35,-49.84 500.00,49.83 L500.00,-0.00 L0.00,-0.00 Z" style="stroke: none; fill: #FF8F00;"></path>
          </svg>
          </div>
          <div class="font-slabo text-center font-30">Welcome to <br>E-Cell IITK <br> Campus Ambassador Portal</div>
          <br><br><br><br>
          <div class="font-lato">Continue with facebook</div>
          <br>
          <button mat-raised-button color="primary" (click)="fbLogin();"><i class="fab fa-facebook-square"></i>  SignUp/Login with Facebook</button>
          <br><br><br><br>
          <div class="text-accent font-lato">* Login with facebook is compulsory <br>for Campus Ambassadors</div>
      </div>
  </div>
  <div fxFlex="70%" fxFlex.sm="60%" class="bg-login mat-elevation-z24" fxHide.xs="true">
  </div>
</div>
<app-footer></app-footer>




<!-- <div class="bg-primary full">
  <mat-card class="width-50 text-center align-center no-padding">
      <div class="wave">
          <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
              <path d="M0.00,49.83 C150.00,149.53 271.35,-49.84 500.00,49.83 L500.00,-0.00 L0.00,-0.00 Z" style="stroke: none; fill: #08f;"></path>
          </svg>
      </div>
    <div class="text-center align-center">
      <div class="font-slabo text-center font-30">E-Cell IITK Campus Ambassador Portal</div>
    </div>
    <mat-card-content>
        <p class="font-lato text-center font-20">
          <br>
            Why follow when you can lead!
        </p>
      <p class="font-lato text-center font-15">
        Login with Facebook is cumpolsory for Campus Ambassadors.
      </p>
    </mat-card-content>
    <button mat-raised-button color="primary" (click)="fbLogin();"><i class="fab fa-facebook-square"></i> Login with Facebook</button>
  </mat-card>
</div> -->
