<app-navbar></app-navbar>
<div class="bg-primary-dark font-ubuntu font-30 padding-20">Guidelines</div>
<div class="bg-primary-light padding-30 font-lato">
  Please, go through the guidelines before using this portal!
  <hr>
  <h3>Dashboard</h3>
  <p>
    <img src="../../../assets/g-dashboard.jpeg" alt="Post.jpeg">
    <br>
   You can visit the Dashboard section to see your total points and other related stuff. The dashboard also shows top 10 Campus Ambassadors
   . Our ranking priority order is: total-points, tickets-booked, tasks-completed respectively. However if more than one person have all these
   three criterias same, then we will consider them equal.
  </p>
  <hr>
  <h3>Facebook Posts</h3>
  <p>
    <img src="../../../assets/g-post.jpeg" alt="Post.jpeg">
    <br>
    The FB Posts section contains posts. Which you can share share on Facebook with friends or on a group, page...
    The larger the audience the better.
    Remember, a facebook post can have expiry date after which the post will be disappered from the page.
    For each share you will be rewarded 10 points.
    Also, there is a limit on max reward. But still, feel free to share.
  </p>
  <hr>
  <h3>Tasks</h3>
  <p>
    <img src="../../../assets/g-task.jpeg" alt="Post.jpeg">
    <br>
    The tasks section contain tasks which you have to complete before the time limit. After completing you have to send a valid proof of task completion to us to get reward. More info on tasks will be added soon !
  </p>
</div>
<app-footer></app-footer>
