<app-navbar></app-navbar>
<div class="bg-primary-dark font-lato font-30 padding-20">Contacts</div>
<div class="bg-primary padding-30">
  <div class="font-20">
    > The guidelines to use this portal are provided in the `Guidelines` section, 
    for any Queries or Suggestions, Contact us below!<br><br> <hr>
  </div>
  <div>
    <div class="font-25 font-lato text-accent">Shivam Goyal</div>
    <div class="font-15">Head, Web Development</div>
    <div class="font-15">shivgo@iitk.ac.in <br fxHide.gt-xs="true">+91 8059 770 401</div>
    <hr>
  </div>
  <div>
      <div class="font-25 font-lato text-accent">Shivam Goyal</div>
      <div class="font-15">Head, Web Development</div>
      <div class="font-15">shivgo@iitk.ac.in <br fxHide.gt-xs="true">+91 8059 770 401</div>
      <hr>
  </div>
  <div>
      <div class="font-25 font-lato text-accent">Shivam Goyal</div>
      <div class="font-15">Head, Web Development</div>
      <div class="font-15">shivgo@iitk.ac.in <br fxHide.gt-xs="true">+91 8059 770 401</div>
      <hr>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
<app-footer></app-footer>