<div class="bg-primary-dark font-lato font-25 padding-20 footer">
  <div class="text-center font-slabo">© Entrepreneurship Cell <br fxHide.gt-xs="true">IIT Kanpur</div>
    <div class="text-center text-accent-light font-15">
      <a class="text-accent-light" routerLink="/">Home   |</a>
      <a class="text-accent-light" routerLink="/Privacy_Policy" target="_blank"> Privacy Policy   |</a>
      <a class="text-accent-light" routerLink="/TermsofServices" target="_blank">   Terms of Services  </a>
    </div>
  <div class="text-center font-15">- Ideate Innovate Incubate -</div>
</div>

